{% extends 'base.html' %}

{% block pagecontent %}
<div class="apo-page">
    <!-- Slider-->
    <div class="rev_slider_wrapper fullscreen-container">
      <div id="rev-slider-2" class="rev_slider fullscreenbanner apo-revslider-theme">
        <ul>
          <!-- Slide 1-->
          <li data-transition="fade" data-speed="700" data-prevslidecaption="Prev" data-nextslidecaption="Next"><img src="images/img-145.jpg" alt="" class="rev-slidebg">
            <!-- Layer 1-->
            <div data-x="left" data-y="center" data-width="['auto']" data-height="['auto']" data-hoffset="['0','130','130','30']" data-voffset="-55" data-fontsize="['14','14','14','14']" data-lineheight="['20','20','20','20']" data-fontweight="['400','400','400','400']" data-color="['#ffffff','#ffffff','#ffffff','#ffffff']" data-transform_in="x:-40px;opacity:0;s:700;e:Power2.easeInOut;" data-transform_out="x:0px;opacity:0;s:700;" data-start="800" class="tp-caption tp-resizeme apo-layer-style-1">When the sun goes down</div>
            <!-- End of Layer 1-->
            <!-- Layer 2-->
            <div data-x="left" data-y="center" data-width="['auto']" data-height="['auto']" data-hoffset="['0','130','130','30']" data-voffset="0" data-fontsize="['60','60','60','40']" data-lineheight="['60','60','60','60']" data-fontweight="['400','400','400','400']" data-color="['#ffffff','#ffffff','#ffffff','#ffffff']" data-transform_in="x:-40px;opacity:0;s:700;e:Power2.easeInOut;" data-transform_out="x:0px;opacity:0;s:700;" data-start="900" class="tp-caption tp-resizeme apo-layer-style-2">The Wild Parachute</div>
            <!-- End of Layer 2-->
            <!-- Layer 3-->
            <div data-x="left" data-y="center" data-width="['auto']" data-height="['auto']" data-hoffset="['0','130','130','30']" data-voffset="80" data-fontsize="['12','12','12','12']" data-lineheight="['18','18','18','18']" data-fontweight="['400','400','400','400']" data-color="['#ffffff','#ffffff','#ffffff','#ffffff']" data-transform_in="x:-40px;opacity:0;s:700;e:Power2.easeInOut;" data-transform_out="x:0px;opacity:0;s:700;" data-start="1000" class="tp-caption tp-resizeme apo-layer-style-3">A photo by Christian Carter in 2016</div>
            <!-- End of Layer 3-->
          </li>
          <!-- End of Slide 1-->
          <!-- Slide 2-->
          <li data-transition="fade" data-speed="700" data-prevslidecaption="Prev" data-nextslidecaption="Next"><img src="images/slide-02.jpg" alt="">
            <!-- Layer 1-->
            <div data-x="right" data-y="center" data-width="['auto']" data-height="['auto']" data-hoffset="['0','30','30','30']" data-voffset="-55" data-fontsize="['14','14','14','14']" data-lineheight="['20','20','20','20']" data-fontweight="['400','400','400','400']" data-color="['#ffffff','#ffffff','#ffffff','#ffffff']" data-transform_in="x:40px;opacity:0;s:700;e:Power2.easeInOut;" data-transform_out="x:0px;opacity:0;s:700;" data-start="800" class="tp-caption tp-resizeme apo-layer-style-1">Experiment With Nature</div>
            <!-- End of Layer 1-->
            <!-- Layer 2-->
            <div data-x="right" data-y="center" data-width="['auto']" data-height="['auto']" data-hoffset="['0','30','30','30']" data-voffset="0" data-fontsize="['60','60','60','40']" data-lineheight="['60','60','60','60']" data-fontweight="['400','400','400','400']" data-color="['#ffffff','#ffffff','#ffffff','#ffffff']" data-transform_in="x:40px;opacity:0;s:700;e:Power2.easeInOut;" data-transform_out="x:0px;opacity:0;s:700;" data-start="900" class="tp-caption tp-resizeme apo-layer-style-2">Calm River</div>
            <!-- End of Layer 2-->
            <!-- Layer 3-->
            <div data-x="right" data-y="center" data-width="['auto']" data-height="['auto']" data-hoffset="['0','30','30','30']" data-voffset="80" data-fontsize="['12','12','12','12']" data-lineheight="['18','18','18','18']" data-fontweight="['400','400','400','400']" data-color="['#ffffff','#ffffff','#ffffff','#ffffff']" data-transform_in="x:40px;opacity:0;s:700;e:Power2.easeInOut;" data-transform_out="x:0px;opacity:0;s:700;" data-start="1000" class="tp-caption tp-resizeme apo-layer-style-3">A photo by Christian Carter in 2016</div>
            <!-- End of Layer 3-->
          </li>
          <!-- End of Slide 2-->
          <!-- Slide 3-->
          <li data-transition="fade" data-delay="50000" data-prevslidecaption="Prev" data-nextslidecaption="Next">

              <img src="images/img-168.jpg" alt="" data-bg-position="center center" data-bgfit="cover" data-bgrepeat="no-repeat">

            <!-- Background Video Layer -->
            <!--<div class="rs-background-video-layer" data-autoplay="true" data-ytid="uO3k8bG4G_w" data-volume="100" data-forcerewind="off" data-nextslideatend="true" data-videoloop="loopandnoslidestop" data-videoattributes="version=3&enablejsapi=1&html5=1&hd=1&controls=0&modestbranding=1&wmode=opaque&showinfo=0&rel=0&start=1&disablekb=1"></div> -->
            <!-- End of Background Video Layer -->

            <!-- Layer 1-->
            <div data-x="left" data-y="center" data-width="['auto']" data-height="['auto']" data-hoffset="['0','130','130','30']" data-voffset="-55" data-fontsize="['14','14','14','14']" data-lineheight="['20','20','20','20']" data-fontweight="['400','400','400','400']" data-color="['#ffffff','#ffffff','#ffffff','#ffffff']" data-transform_in="x:-40px;opacity:0;s:700;e:Power2.easeInOut;" data-transform_out="x:0px;opacity:0;s:700;" data-start="800" class="tp-caption tp-resizeme apo-layer-style-1">Outside the World</div>
            <!-- End of Layer 1-->
            <!-- Layer 2-->
            <div data-x="left" data-y="center" data-width="['auto']" data-height="['auto']" data-hoffset="['0','130','130','30']" data-voffset="0" data-fontsize="['60','60','60','40']" data-lineheight="['60','60','60','60']" data-fontweight="['400','400','400','400']" data-color="['#ffffff','#ffffff','#ffffff','#ffffff']" data-transform_in="x:-40px;opacity:0;s:700;e:Power2.easeInOut;" data-transform_out="x:0px;opacity:0;s:700;" data-start="900" class="tp-caption tp-resizeme apo-layer-style-2">Counting Stars</div>
            <!-- End of Layer 2-->
            <!-- Layer 3-->
            <div data-x="left" data-y="center" data-width="['auto']" data-height="['auto']" data-hoffset="['0','130','130','30']" data-voffset="80" data-fontsize="['12','12','12','12']" data-lineheight="['18','18','18','18']" data-fontweight="['400','400','400','400']" data-color="['#ffffff','#ffffff','#ffffff','#ffffff']" data-transform_in="x:-40px;opacity:0;s:700;e:Power2.easeInOut;" data-transform_out="x:0px;opacity:0;s:700;" data-start="1000" class="tp-caption tp-resizeme apo-layer-style-3">A photo by Christian Carter in 2016</div>
            <!-- End of Layer 3-->
          </li>
          <!-- End of Slide 3-->
        </ul>
        <!-- Slider Actions -->
        <div class="apo-revslider-controls">
          <div class="apo-revslider-controls-item">
            <div class="apo-revslider-theme-nav-prev">
              <div class="apo-revslider-control-title">Prev</div>
              <i class="apo-icon-prev"></i>
            </div>
          </div>
          <div class="apo-revslider-controls-item">
            <div class="apo-revslider-theme-nav-next">
              <div class="apo-revslider-control-title">Next</div>
              <i class="apo-icon-next"></i>
            </div>
          </div>
        </div>
        <!-- End Slider Actions -->
      </div>
    </div>
    <!-- End of Slider-->
    <!-- Content Section-->
    <div data-bg-img-src="images/page-bg-img-4.png" class="apo-section apo-fullheight-section">
      <div class="container">
        <blockquote class="apo-style-3">
          <p>I am a highly organised and motivated professional photographer with a wealth of experience in a range of photographic styles and services.</p>
          <footer><img src="images/painting.png" alt=""></footer>
        </blockquote><a href="home_personal_with_left_header.html" class="apo-btn apo-btn-small">Learn More About me</a>
      </div>
    </div>
    <!-- End Content Section-->
    <!-- Content Section-->
    <div class="apo-section apo-section-no-spacing">
      <!-- Isotope-->
      <div data-isotope-layout="masonry" class="apo-isotope apo-cols-2 apo-portfolio-container apo-style-5">
        <div class="grid-sizer"></div>
        <div class="apo-item apo-photo-retouching">
          <!-- Article-->
          <article class="apo-project">
            <div class="apo-project-media"><a href="#"><img src="images/img-146.jpg" alt=""></a></div>
            <div class="apo-project-content-wrap">
              <div class="apo-aligner-outer">
                <div class="apo-aligner-inner">
                  <header class="apo-project-header">
                    <ul class="apo-project-categories">
                      <li><a href="#">Photo Retouching</a></li>
                    </ul>
                    <h2 class="apo-project-title"><a href="portfolio_single_post.html">The Bear’s Sadness</a></h2>
                  </header>
                </div>
              </div>
            </div><span class="apo-project-triangle"></span>
          </article>
        </div>
        <div class="apo-item apo-gucci-spring-2017-promotion">
          <!-- Article-->
          <article class="apo-project">
            <div class="apo-project-media"><a href="#"><img src="images/img-147.jpg" alt=""></a></div>
            <div class="apo-project-content-wrap">
              <div class="apo-aligner-outer">
                <div class="apo-aligner-inner">
                  <header class="apo-project-header">
                    <ul class="apo-project-categories">
                      <li><a href="#">Gucci Spring 2017 Promotion</a></li>
                    </ul>
                    <h2 class="apo-project-title"><a href="portfolio_single_post.html">Aborigines Fashion Campaign</a></h2>
                  </header>
                </div>
              </div>
            </div><span class="apo-project-triangle"></span>
          </article>
        </div>
        <div class="apo-item apo-close-up-macro">
          <!-- Article-->
          <article class="apo-project">
            <div class="apo-project-media"><a href="#"><img src="images/img-148.jpg" alt=""></a></div>
            <div class="apo-project-content-wrap">
              <div class="apo-aligner-outer">
                <div class="apo-aligner-inner">
                  <header class="apo-project-header">
                    <ul class="apo-project-categories">
                      <li><a href="#">Close up &amp; Macro</a></li>
                    </ul>
                    <h2 class="apo-project-title"><a href="portfolio_single_post.html">Vitality</a></h2>
                  </header>
                </div>
              </div>
            </div><span class="apo-project-triangle"></span>
          </article>
        </div>
        <div class="apo-item apo-landscape">
          <!-- Article-->
          <article class="apo-project">
            <div class="apo-project-media"><a href="#"><img src="images/img-149.jpg" alt=""></a></div>
            <div class="apo-project-content-wrap">
              <div class="apo-aligner-outer">
                <div class="apo-aligner-inner">
                  <header class="apo-project-header">
                    <ul class="apo-project-categories">
                      <li><a href="#">Landscape</a></li>
                    </ul>
                    <h2 class="apo-project-title"><a href="portfolio_single_post.html">Before The Storm</a></h2>
                  </header>
                </div>
              </div>
            </div><span class="apo-project-triangle"></span>
          </article>
        </div>
      </div>
    </div>
    <!-- End Isotope-->
    <!-- Content Section-->
    <div data-parallax="scroll" data-image-src="images/page-bg-img-5.png" class="apo-section apo-fullheight-section apo-section-parallax">
      <div class="container"><img src="images/logo-dark-large.png" alt="" class="apo-content-logo">
        <h6 class="apo-section-title apo-style-3">I have a simple mission</h6>
        <blockquote class="apo-style-3">
          <p>To produce the highest quality work for every<br>client, on every project</p>
        </blockquote>
      </div>
    </div>
    <!-- End Content Section-->
    <!-- Content Section-->
    <div class="apo-section apo-section-no-spacing">
      <!-- Isotope-->
      <div data-isotope-layout="grid" class="apo-isotope apo-cols-2 apo-entries-container apo-style-5 apo-same-height-container">
        <div class="grid-sizer"></div>
        <div class="apo-item apo-motivation">
          <!-- Article-->
          <article class="apo-entry">
            <div data-bg-img-src="images/img-151.jpg" class="apo-entry-media"></div>
            <div class="apo-entry-content-wrap">
              <div class="apo-aligner-outer">
                <div class="apo-aligner-inner apo-same-height">
                  <header class="apo-entry-header">
                    <h2 class="apo-entry-title"><a href="#">Wine Tours La Dolce Vita</a></h2>
                    <div class="apo-entry-meta">
                      <time datetime="2016-12-24" class="apo-entry-publish-date">24 December, 2016</time>
                    </div>
                  </header>
                  <footer class="apo-entry-footer"><a href="#" class="apo-entry-read-more-link apo-btn apo-btn-small"> Read More</a></footer>
                </div>
              </div>
            </div>
          </article>
          <!-- End Article-->
        </div>
        <div class="apo-item apo-motivation">
          <!-- Article-->
          <article class="apo-entry">
            <div data-bg-img-src="images/img-150.jpg" class="apo-entry-media"></div>
            <div class="apo-entry-content-wrap">
              <div class="apo-aligner-outer">
                <div class="apo-aligner-inner apo-same-height">
                  <header class="apo-entry-header">
                    <h2 class="apo-entry-title"><a href="#">Family Safari Vacation To The Home Of The Gods</a></h2>
                    <div class="apo-entry-meta">
                      <time datetime="2016-12-24" class="apo-entry-publish-date">24 December, 2016</time>
                    </div>
                  </header>
                  <footer class="apo-entry-footer"><a href="#" class="apo-entry-read-more-link apo-btn apo-btn-small"> Read More</a></footer>
                </div>
              </div>
            </div>
          </article>
          <!-- End Article-->
        </div>
      </div>
      <!-- End Isotope-->
    </div>
  </div>
  {% endblock %}